<div class="ui container">
  <div class="ui secondary pointing menu">
    <a
      routerLink=""
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="item"
      >Home</a
    >
    <a routerLink="/search" routerLinkActive="active" class="item">Search</a>
    <a routerLink="/trends" routerLinkActive="active" class="item">Trends</a>
    <a routerLink="/investment-analysis" routerLinkActive="active" class="item"
      >Invesment Analysis</a
    >
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
